<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <table border="1px">
        <tr>
            <td>NOME FANTASIA</td>
            <td>DT FABRICAÇÃO</td>
            <td>COR</td>
            <td>PREÇO</td>
            <td>ALTURA</td>
            <td>PESO</td>
        </tr>
        <tr>
            <td>Mari Danada</td>
            <td>19/08/2000</td>
            <td>Caucasiana</td>
            <td>200</td>
            <td>2.03</td>
            <td>88kg</td>
        </tr>
        <tr>
            <td>Lori Souza</td>
            <td>22/07/1956</td>
            <td>Preta</td>
            <td>35</td>
            <td>1.45</td>
            <td>45kg</td>
        </tr>
    </table>

</body>

</html>